// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #989FAD;
$light-gray: #FBFBFC;
$purple: #7444C0;
$black: #363636;
