.like-card-btn {
  background: white;
  border: none;
  box-shadow: $box-shadow;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.profile-btn {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 170%;
  background: linear-gradient(167deg, rgba(61,54,184,1) 0%, rgba(86,54,184,1) 43%, rgba(116,54,184,1) 100%);
  width: 181px;
  border: none;
  border-radius: 24px;
  color: white;
  height: 46px;
}

@media (max-height: 568px) {
  .like-card-btn {
    width: 45px;
    height: 45px;
  }
}
