.like-card {
  background: white;
  transform: translate(-50%,-55%);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 86vw;
  height: 82vh;
  border-radius: $border-radius;
  padding: 4%;
  box-shadow: $box-shadow;
  text-align: center;

  .like-card-photo {
    width: 97% !important;
    height: 64% !important;
    object-fit: cover;
    border-radius: $border-radius;
    transform: translate(1.5%, 1%);
  }

  .infos {
    .name {
      color: $black;
    }
    .description {
      color: $gray;
      font-size: 14px;
    }
  }

  .buttons {
    display: flex;
    place-content: center;
  }
}
