.matches-grid {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-around;
  padding: 20px 6px;

  .match-card {
    background: white;
    width: 44%;
    height: 42%;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    text-align: center;
    padding: 1%;

    .name {
      margin-top: 6%;
    }
  }

  .match-photo {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 6px;
  }
}
