#navbar {
  position: fixed;
  bottom: 0;
  height: 65px;
  background: white;
  width: 100%;

  .navlink {
    color: $black;
  }

  .active-navlink {
    color: $purple;
    text-decoration: none;
  }
}
