#navbar {
  position: fixed;
  bottom: 0;
  height: 9vh;
  background: white;
  width: 100%;

  .navlink {
    color: $black;

    h6 {
      font-size: 15px;
    }
  }

  .active-navlink {
    color: $purple;
    text-decoration: none;
  }
}
